<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSk_phAJbRP3lpKaqhIqaQLb0hKCRu8V8</string>
	<key>GCM_SENDER_ID</key>
	<string>258909425945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nexpro</string>
	<key>PROJECT_ID</key>
	<string>nexpro-goal</string>
	<key>STORAGE_BUCKET</key>
	<string>nexpro-goal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258909425945:ios:91bccec3362f72bb0b3588</string>
</dict>
</plist>